@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}


/* BILLBOARD IMAGE/SLIDESHOW **************************************************/
.billboard, .billboard div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 250px;
	height: 250px;
	}

.billboard {
	transform: rotate(45deg) translateY(0px);
}
	
.billboard .img-container {
	width: 355px;
	height: 355px;
	transform: rotate(-45deg) translateY(-75px);
}

.billboard .img-container img {
	width: 100%;
	height: auto;
} 


/* MAIN ***********************************************************************/
.description {
	margin: 0;
	padding:0;
	width: 100%;
}

.links {
	margin: auto;
	width: 100%;

	list-style: none;
	text-align: center;
}


/* LINKS **********************************************************************/
a {
	display: inline-block;
	float: left;

	color: black;
	font-weight: bold;
	text-decoration: none;

	cursor: pointer;
}

a:hover {
	color: grey;
	font-size: 1.1250rem;
}
