@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	background-color: black;
}

/* BILLBOARD IMAGE/SLIDESHOW **************************************************/
.billboard {
	position: relative;
}

.img-container {
	width: 100vw;
	margin: 0 auto;
}

.cycle-slideshow {
	background: url(../images/billboard.jpg) center center no-repeat;
	background-size: cover;
	height: 200px;

	width: 100vw;
}

.cycle-slideshow img {
	margin: 0;
}


/* MAIN ***********************************************************************/
.description {
	margin: 0;
	padding: 0 0 2rem 0;
	width: 100%;
	position: absolute;
	top: 300px;

	color: white;
	font-family: 'Inconsolata', sans-serif;
	text-align: center;
}

.name {
	margin: 0;
	font-size: 2.5rem;
}

.aka {
	padding: 0 0 2rem 0;
}

.small-txt {
	font-size: 0.75rem;
}

.blurb {
	margin: 0;
	padding-bottom: 1.75rem; 
	font-size: 1rem;
	line-height: 1.5rem;
}

.links {
	list-style: none;
	text-align: center;
}

ul {
	margin: 0 0 0.75rem 0;
	padding: 0;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
}

a:hover {
	color: grey;
	font-size: 1.1250rem;
}

a:focus {
	padding: 5px;
	outline: 3px dotted yellow;
}

a:active {
	color: yellow;
	font-size: 1.1250rem;
}

/* MEDIA QUERIES **************************************************************/
@media only screen and (min-width: 25em) {
	.description {
		margin: -25px 0 0 0;
	}

	.cycle-slideshow {
		height: 300px;	
	}
} 

@media only screen and (min-width: 38em) {}

@media only screen and (min-width: 60em) {}

